<center style="font-size:20px">
    <p>
        في تاريخ ١١/٣/٢٠١٥ أسست جمعية كيان للرعاية الأسرية ومقرها مدينة الكويت وقد تم اشهارها من قبل وزارة الشئون الاجتماعية والعمل تحت رقم (٣٧\أ) لسنة ٢٠١٥ بناءً على محضر اجتماع لجنة متابعة اشهار جمعيات النفع العام رقم ٣/٢٠١٥ المنعقد بتاريخ ١٨/٢/٢٠١٥.
    </p>
    <h2 style="color:aqua">رؤيتنا </h2>
    أن ينعم كل طفل فاقد للرعاية الوالدية بالاحتضان وأن تتوفر في دور الأيتام أفضل سبل الرعاية والتربية لهم.


    <h2 style="color:aqua">رسالتنا </h2>
    نشر ثقافة الاحتضان في المجتمع ودعم الدور الذي تقوم به الأسرة الحاضنة وبناء شراكة حكومية وأهلية فاعلة في مجال رعاية الأيتام.


    <h2 style="color:aqua">قيمنا </h2>


    نشر ثقافة الاحتضان في المجتمع ودعم الدور الذي تقوم به الأسرة الحاضنة وبناء شراكة حكومية وأهلية فاعلة في مجال رعاية الأيتام.


</center>