@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        font-size: 20px;
    }
</style><center>
    <h2 style="color:aqua">العنوان </h2>
    جمعية كيان للرعاية الأسرية- ضاحية عبدالله السالم-شقة رقم ١٦-قطعة ١-شارع ١١-قسيمة ٢٦

    <h2 style="color:aqua">الهاتف </h2>
    +96555114100
    <h2 style="color:aqua">
        البريد الالكترونى
    </h2>
    info@kayanaytam.org
</center>