@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        font-size: 20px;
    }
</style><center>
    <h2 style="color:aqua">الاحتضان في الاسلام </h2>
    أمر الله -عزّ وجلّ- في كتابه الحكيم أن يُنسب الأطفال إلى آبائهم إن كانوا معروفين، فقال -سبحانه-:

    (ادْعُوهُمْ لِآبَائِهِمْ هُوَ أَقْسَطُ عِندَ اللَّهِ ۚ فَإِن لَّمْ تَعْلَمُوا آبَاءَهُمْ فَإِخْوَانُكُمْ فِي الدِّينِ وَمَوَالِيكُمْ).[٢][٣] سورة الأحزاب.

    فحكم التبني في الإسلام انه محرّم قطعاً، كونه يعدّ من باب نسبة الرجل إلى غير أبيه، ومن باب خلط الأنساب المحرّم في الشريعة. لكنّ الاحتضان المطبق في الكويت هو من الأمور المستحبة التي يثاب فاعلها،كونه يدخل في باب كفالة الأيتام التي حثّ الإسلام عليها، شرط ألاّ ينسب الطفل إلى العائلة التي تحضنه ولا يرثها مطلقا.

    +96555114100
    
    info@kayanaytam.org
</center>